.button {
    /* margin: 0; */
    justify-content: center;
    /* top: 100%;
    left: 50%; */
    margin-top: 30px;
    /* margin-left: 280px; */
    transition: all 0.2s;
}

.button:hover {
    transition: transform .2s;
    /* Animation */
    transform: scale(1.05);
}

.heading {
    color: #263669;
}

.map-content {
    color: #263669;
    margin-top: 10px;
    margin-bottom: 0px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 190px;
    margin-right: 0%;
}

.map {
    height: 400px;
    width: 700px;
    /* margin-left: 300px; */
    /* margin-top: 20px; */
}

.form-center {
    max-width: 44rem;
    margin-top: 20px;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
}