.Adddata-main {
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    background-color: #f1f1f1;
    margin-top: 0px;
    display: flex;
    width: 100vh;
    height: 130vh;
}

.save-button {
    margin-top: 5px;
    float: right;
}

.button {
    /* margin: 0; */
    justify-content: center;
    /* top: 100%;
    left: 50%; */
    margin-top: 30px;
    /* margin-left: 280px; */
    transition: all 0.2s;
}

.button:hover {
    transition: transform .2s;
    /* Animation */
    transform: scale(1.05);
}

.heading {
    color: #263669;
}

.map-content {
    color: #263669;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 0;
}

.text-content {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.text-warn {
    font-size: small;
    margin-top: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 190px;
    margin-right: 0%;
}

.map {
    height: 400px;
    width: 700px;
    z-index: 0;
    /* margin-left: 300px; */
    margin-top: 1px;
}

.form-center {
    max-width: 44rem;
    margin-top: 20px;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
}