.leaflet-container-Fake {
    height: 300px;
    width: 900px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    z-index: 0;
}

.status-button {
    float: right;
    margin-right: 5px;
}

.card-size-fake {
    width: 1000px;
    margin-top: 20px;
}

.time-fake {
    color: #535353;
    font-size: smaller;
    margin-bottom: 0px;
}