.main-content {
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    background-color: #f1f1f1;
    margin-top: 0px;
    display: flex;
    width: 100%;
    height: 100%;
}

.name {
    color: #263669;
    display: inline-block;
    margin-left: 10px;
}

.time-content {
    /* margin-top: 10px; */
    color: #535353;
    font-size: smaller;
    margin-bottom: 0px;
}

.verify-content {
    color: #535353;
    font-size: smaller;
    margin-bottom: 0px;
    float: right;
}